:root {
  --primary: #4b1719;
  --pinkBg: #921e45;
  --cardGrey: #d9d9d9;
  --brownish: #fbd5c2;
  --white: #fff;
  --milk: #e2d6d6;
  --milkish: #e6e1e2;
  --cream: #fcd5c2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 1rem;
}

.card {
  background: #fff;
}

.navbar-style {
  background-color: #4b1719;
  color: #fff;
}

.landing-navbar {
  border: 1px solid #4b1719;
  color: #4b1719;
}


.dash-text {
  color: #4b1719;
  font-weight: 700;
  font-size: 1.5rem;
}

.btn-connect {
  border: #4b1719 1px solid;
  color: var(--primary);

  &:hover {
    background-color: #4b1719;
    color: var(--milk);
  }
}

.hero-text {
  color: #4b1719;
  font-weight: 700;
  font-size: 2.5rem;
}

.hero-btn {
  background-color: #4b1719;
  color: var(--milk);

  &:hover {

    border: #4b1719 1px solid;
    color: var(--primary);
  }
}

.icon-color {
  color: #4b1719;
  font-size: 24px;

}

.feature-title {
  color: #4b1719;
  font-weight: 700;
  font-size: 20px;
}

.btn {
  background-color: #4b1719;
  color: #fff;

  &:hover {
    border: 1px solid #4b1719;
    color: #4b1719;
  }
}

.delete-btn {
  border: 1px solid #4b1719;
  color: #4b1719;
  border-radius: 8px;
  padding: 6px 10px;
  transition: all 0.3s ease;
  background-color: transparent;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #4b1719;
  color: #ffffff;
  transform: scale(1.05);
}

.prayer-btn {
  background-color: #ffffff;
  color: #4b1719;
  border: 2px solid #4b1719;
  border-radius: 8px;
  padding: 2px;
  transition: all 0.3s ease;
  background-color: transparent;
  cursor: pointer;
}

.prayer-btn:hover {
  background-color: #4b1719;
  color: #ffffff;
  transform: scale(1.05);
}

/* Dropdown button styling */
.drop-btn {
  background-color: white;
  /* border: 1px solid #4b1719; */
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* .drop-btn i {
  color: #4b1719;
  font-size: 1.2rem;
  transition: color 0.3s ease;
} */

/* Hover effect for the dropdown button */
/* .drop-btn:hover {
  background-color: #4b1719;
  border-color: #4b1719;
  color: #ffffff;
} */

.text-truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  /* Consistent line height */
  max-height: 4.5em;
  /* 3 lines * 1.5em line height */
}


.markdown-container {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  overflow-x: auto;
  /* Allows horizontal scrolling if content is too wide */
  padding: 1rem;
}

.markdown-paragraph {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.markdown-list {
  padding-left: 2rem;
  margin-bottom: 1rem;
  list-style-type: disc;
}

.markdown-link {
  color: #007bff;
  text-decoration: none;
}

.markdown-link:hover {
  text-decoration: underline;
}